@model DetectiveAgency.Models.Employee 

@{
    ViewData["Title"] = "New Employee Form";
}

<div class="row">

    <h1 class="col-md-12">New Employee Form</h1>
    <form asp-action="CalcPay" method="post" class="col-md-6">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div>
            <label asp-for="Id">ID:</label>
            <input asp-for="Id" />
        </div>
        <div>
            <label asp-for="Name">Name:</label>
            <input asp-for="Name" />
        </div>
        <div>
            <label asp-for="Hours">Hours:</label>
            <input asp-for="Hours" />
        </div>
        <div>
            <label asp-for="Rate">Rate:</label>
            <input asp-for="Rate" />
        </div>
        <div>
            <label>Weekly Gross Pay:</label>
            <input value="@ViewBag.Salary.ToString("C2")" readonly>
        </div>
        <button type="submit">Calculate Gross Pay</button>
        <button asp-controller="Home" asp-action="Index">Clear</button>
    </form>

</div>
